<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Key</key>
	<string>ND3LVVNfoebbO59xeDxwriBc0</string>
	<key>API Secret</key>
	<string>HmLLSe9DWzj0rUgQvLnh8z05c41kPQM5XST01ssxEYJJGb4koA</string>
</dict>
</plist>
